target/
*.iml
*.swp
surefire-reports/
.idea/
*.class
*.jar
install.log
mailer/nbactions.xml
.DS_Store

# Don't ignore these jars, they are included as local repo
!sailthru-java-client-1.2.jar
!sailthru-java-client-1.3.jar
!java-4info-0.1.0.jar
!dkim-1.0.jar
!scribe-1.0.jar
!javapns-2.2.jar

.project
.settings/
.classpath
backend-commons/bin/
commons/bin/
loggarics/bin/
mailer/bin/
proc/bin/

# ignore contiperf reports
contiperf-report/
